@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #111315;
  /* background-color: blanchedalmond; */
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  background-image: url("/images/bg-cafe.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100%;
}

.label {
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
}

.smallText {
  font-size: 10px;
  font-family: "DM Sans", sans-serif;
}

.priceText {
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
}

.borderMe {
  border: 1px solid red;
  border-radius: 10px;
}
